<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <meta charset="UTF-8">
        <meta name="author" content="<%= meta.author %>">
        <meta name="description" content="<%= meta.description %>">
        <meta name="keywords" content="<%= meta.keywords %>">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <% stylesheets.forEach((item) => { %>
        <link rel="stylesheet" href="<%= item.url %>">
        <% }); %>
    </head>
    <body>
        <poolcontroller-app>Loading...</poolcontroller-app>
        <% javascripts.forEach((item) => { %>
        <script type="text/javascript" src="<%= item.url %>"></script>
        <% }); %>
    </body>
</html>
